<nav>
  <div>
    <a class="navbar-brand" [routerLink]="''"><b>Main</b></a>
  </div>
  <div>
    <ul>
      <li>
        <a class="nav-link" [routerLink]="'/level-one'">CSS transitions</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="'/level-two'">CSS animations</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="'/level-two-extend'">CSS Motion Path</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="'/level-three'">Angular animations</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="'/level-three-extend'">Angular reuse animations</a>
      </li>
    </ul>
  </div>
</nav>
<hr/>
<router-outlet></router-outlet>
